:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.record {
  position: relative;
  width: 400px;
  height: 400px;
  canvas {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 0;
    top: 0;
  }
}